body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #272822;
    color: #f8f8f2;
    margin: 0;
}

.calculator {
    border: 1px solid #66d9ef;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px #000;
}

.display {
    background-color: #1e1e1e;
    padding: 20px;
    text-align: right;
    font-size: 2em;
    border-bottom: 1px solid #66d9ef;
    color: #a6e22e;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.btn {
    padding: 20px;
    font-size: 1.5em;
    border: 1px solid #66d9ef;
    background-color: #272822;
    color: #f8f8f2;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s;
}

.btn:hover {
    background-color: #3e3d32;
}

.zero {
    grid-column: span 2;
}
